[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
mockito = "*"

[packages]
click = "*"

[requires]
python_version = "3.7"

[scripts]
tests = "python -m unittest discover . -p 'test_*.py'"
dump_companies_options = "python dump_companies.py --help"
dump_companies = "python dump_companies.py --min_investments 100000000000000"
